@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('/fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
    url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Serif Bold'), local('IBMPlexSerif-Bold'),
    url('/fonts/IBM_Plex_Serif/IBMPlexSerif-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Serif Bold'), local('IBMPlexSerif-Bold'),
    url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('/fonts/Lato/Lato-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('/fonts/Lato/Lato-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
    url('/fonts/Lato/Lato-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'),
    url('/fonts/Noto_Serif/NotoSerif-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
    url('/fonts/Noto_Serif/NotoSerif-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
    url('/fonts/Noto_Serif/NotoSerif-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto/Roboto-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
    url('/fonts/Rubik/Rubik-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
    url('/fonts/Rubik/Rubik-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('/fonts/Rubik/Rubik-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('/fonts/Rubik/Rubik-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
    url('/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
    url('/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('ttf');
}
